body {
    display: flex;
    background-color: rgb(107, 15, 103);
    background-image: url( '../es.1/multimedia/sfondo.png');
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


p::first-letter{font-size: 250%; align-items: center;}
p::after{content: "*rimosoma copyright*" attr(data-content); font-size: 40%; color: red;}

h1{
    background-color: white;
    color: black;
    padding: 10px;
    border: 2px solid fuchsia; /* Bordo attorno al rettangolo */
    border-radius: 5px; /* Angoli arrotondati (opzionale) */
    box-shadow: 0 0 10px rgb(255, 0, 247), 0 0 20px rgb(255, 0, 247), 0 0 30px rgb(255, 0, 247), 0 0 40px rgb(255, 0, 247); /* Effetto neon */

    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2{
    padding: 20px;
    background-color: white;
    color: black;
    border: 2px solid fuchsia; /* Bordo attorno al rettangolo */
    border-radius: 5px; /* Angoli arrotondati (opzionale) */
    box-shadow: 0 0 10px rgb(255, 0, 247), 0 0 10px rgb(255, 0, 247), 0 0 10px rgb(255, 0, 247), 0 0 10px rgb(255, 0, 247); /* Effetto neon */


    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


header, footer {
    width: 100%;
    color: black;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 400%;
    box-sizing: border-box;
    
    /*box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255), 0 0 40px rgb(255, 255, 255); /*Effetto neon */

}

main {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

table {
    margin: auto;
    text-align: center;
    border-spacing: 10px;
    width: 100%;
    table-layout: fixed;
}

table th, td {
    padding: 20px;
    width: 25%;
}

ul, ol {
    background-color: transparent;
    padding: 10px;
    text-align: left;
    align-items: center;
    padding-left: 40px;
    margin-left: 0px;
}

.lists-container{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    padding: 20px; /* Spazio interno attorno al contenuto */
    border: 2px solid rgb(255, 0, 230); /* Bordo attorno al rettangolo */

    border-radius: 10px; /* Angoli arrotondati (opzionale) */

}

.lists-container ul{
    margin: 10px 0 ;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 50px;
}


.tabellaVoti{
    display: flex;
    color: black;
    justify-content: center;
    background-color: rgb(255, 255, 255); /* Colore di sfondo */
    padding: 20px; /* Spazio interno attorno al contenuto */
    border: 2px solid rgb(255, 0, 247); /* Bordo attorno al rettangolo */
    
    box-shadow: 0 0 10px rgb(255, 0, 247), 0 0 20px rgb(255, 0, 247), 0 0 30px rgb(255, 0, 247), 0 0 40px rgb(255, 0, 247); /* Effetto neon */
    border-radius: 10px; /* Angoli arrotondati (opzionale) */
    max-width: 800px;
    margin: auto;
}

/* Colore per i voti inferiori a 22 */
.voto-basso {
    color: rgb(255, 204, 0);
}

/* Colore per i voti superiori o uguali a 22 */
.voto-alto {
    color: rgb(0, 255, 89);
}

a:link, a:visited {
    color: blue; /* Same color for visited and non-visited links */
    text-decoration: none;
}

a:hover {
    color: white; /* Change text color on hover */
    background-color: blue; /* Change background color on hover */
}

a:active {
    background-color: red; /* Change background color on click */
}


