body {
    display: flex;
    background-color: lightgoldenrodyellow;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


p {
}

p::first-letter{font-size: 250%; align-items: center;}
p::after{content: "*rimosoma copyright*" attr(data-content); font-size: 40%; color: red;}

h1{
    background-color: lightgreen;
    padding: 10px;
    border: 2px solid darkblue; /* Bordo attorno al rettangolo */
    border-radius: 5px; /* Angoli arrotondati (opzionale) */

    color: fuchsia;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h2{
    padding: 10px;
    background-color: lightgreen;
    border: 2px solid darkblue; /* Bordo attorno al rettangolo */
    border-radius: 5px; /* Angoli arrotondati (opzionale) */

    color: darkmagenta;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}


header, footer {
    width: 100%;
    background-color: lightblue;
    text-align: center;
}

main {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

table {
    margin: auto;
    text-align: center;
    border-spacing: 10px;
    width: 100%;
    table-layout: fixed;
}

table th, td {
    padding: 20px;
    width: 25%;
}

ul, ol {
    text-align: left;
    padding-left: 40px;
}

.lists-container{
    display: flex;
    justify-content: space-around;
    background-color: lightgray; /* Colore di sfondo */
    padding: 20px; /* Spazio interno attorno al contenuto */
    border: 2px solid gray; /* Bordo attorno al rettangolo */
    border-radius: 10px; /* Angoli arrotondati (opzionale) */

}

.lists-container ul{
    margin: 0 10px;
}


.tabellaVoti{
    display: flex;
    justify-content: center;
    background-color: lightgray; /* Colore di sfondo */
    padding: 20px; /* Spazio interno attorno al contenuto */
    border: 2px solid gray; /* Bordo attorno al rettangolo */
    border-radius: 10px; /* Angoli arrotondati (opzionale) */
    max-width: 800px;
    margin: auto;
}