body {
    display: flex;
    background-color: lightgoldenrodyellow;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
}

header, footer {
    width: 100%;
    background-color: lightblue;
    text-align: center;
}

main {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

table {
    margin: auto;
    text-align: center;
    border-spacing: 10px;
    width: 100%;
    table-layout: fixed;
}

table th, td {
    padding: 20px;
    width: 25%;
}

ul, ol {
    text-align: left;
    padding-left: 40px;
}
